*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adv{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: aqua;
    overflow: hidden;
}
.adv img{
    width: 100%;
    height: auto;
}
.nav_bar{
    position: sticky;
    top:0;
    width: 100%;
    height: 50px;
    background-color: rgb(214, 169, 100);
    font-size: 1.5em;
    padding: 5px;
    color:#fff;
}

.nav_bar span{
 
 width: auto;
 height: 60%;   
 padding: 5px;
 cursor: pointer;
 /* background-color: #fff; */
 /* border:1px solid black; */
}
.nav_bar span ~ span{
    float: right;
    margin-right: 10px;
}

.nav_bar span ~ span:hover{
    color: rgb(150, 117, 71);
}

.nav_bar span a{
    text-decoration: none;
    color: #fff;
}

.nav_bar span a:hover{
    color: rgb(150, 117, 71);
}

.circle_box{
    width: 100%;
    height:auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding:10px;
   
}
.circle_box span{
    width: 80px;
    height:80px;
    border-radius: 50%;
    /* background-color: blueviolet; */
    box-shadow: 0 0 5px 0 grey;
    /* border: 1px solid black; */
}
.circle_box span img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.main_body{
    width: 100%;
    height: 1000px;
    margin-top: 10px;
    background-color: rgb(201, 137, 60);
    border:1px solid black;
}
.main_body2{
    background-color: rgb(192, 23, 107);
}

.embed-youtube{
    padding: 20px;
    margin: auto;
    width: 60%;
    height: auto;
}



footer{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
footer span{
    padding: 20px;
    color: grey;
}
